body{
    background: rgb(115,121,129);
    background: radial-gradient(circle, rgba(115,121,129,1) 0%, rgba(0,0,0,1) 80%);
    font-family: 'Amiri', serif;
}
html,h1,h2,h3,h4,h5,h6,a{
    overflow-x: hidden;
    font-family: "Raleway", serif;
}
.navbar{
    transition: top 0.3s;
    background: rgb(115,121,129);
    background: radial-gradient(circle, rgba(115,121,129,1) 0%, rgba(0,0,0,1) 80%);
}
.nav-link , .navbar-brand{
    color: #f4f4f4;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 0px;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
    opacity: 0.75;
}
.nav-link{
    margin-right: 1em !important;
}
.nav-link:hover {
    opacity: 1;
    color: #2F4F4F !important;
}
.nav-link::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: #ffffff;
}
.nav-link-ltr::before {
    width: 0%;
    bottom: 10px;
}
.nav-link-ltr:hover::before {
    width: 100%;
}
.navbar-collapse{
    justify-content: flex-end;
}
.header{
    position: relative;
    background-image: url('../images/bg.jpeg');
    height: 100vh !important;
    background-size: cover;
    background-position: center;
}
.overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.79);
    background: radial-gradient(circle, rgba(115,121,129,.8) 0%, rgba(0,0,0,.8) 80%);
}
.description{
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
}
.description h1{
    color:#fff !important;
}
.description p{
    color:#fff !important;
    font-size: 20px;
    width: 50%;
    line-height: 1.5;
}
.description button{
    border:1px  solid #2F4F4F;
    background:  #2F4F4F;
    color:#fff !important;
}
.about{
    margin: 4em 0;
    padding: 1em;
    position: relative;
}
.about h1{
    color:#fff !important;
    margin: 2em;
}
.about img{
    height: 100%;
    width: 100%;
    border-radius: 50%
}
.about span{
    display: block;
    color: #888;
    position: absolute;
    left: 115px;
}
.about .desc{
    padding: 2em;
    border-left:4px solid #2F4F4F;
}
.about .desc h3{
    color:#ffffff;
}
.about .desc p{
    line-height:2;
    color:#ffffff;
}
.portfolio{
    margin: 4em 0;
    position: relative;
}
.portfolio h1{
    color:#fff !important;
    margin: 2em;
}
.portfolio img{
    height: 15rem;
    width: 100%;
    margin-bottom: 1em;
}
.modal-content{
border: none !important;
background: unset !important;
}
#submit{
    border:1px  solid #2F4F4F;
    background:  #2F4F4F;
    color: #fff;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background:  #2F4F4F;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}
#myBtn:hover {
    background-color: #555;
}
#con-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background:  #2F4F4F;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}
#con-btn:hover {
    background-color: #555;
}
